# <!-- @echo name -->

<!-- @echo description -->

### Demo

```Shell
npm install --dev-dependencies
make demo
```

Then go to [http://localhost:3000](http://localhost:3000)


### Install

```Shell
component install techjacker/<!-- @echo name -->
```

```Shell
bower install techjacker/<!-- @echo name -->
```


### Usage

1. Include css/styles.css.
2. Add the ```countdown``` and ```countdown--centiseconds``` classes to an element

```HTML
<div class="countdown countdown--centiseconds"></div>
```
